<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="home-span">Free and Open Source Software</span>
    <a class="navbar-brand" href="/">Home</a>
</nav>
<div class="container">
    <div class="container">
        <img class="top-image" src="/images/computer-circuit-board-blue-loopable-background_ek6u0sjfx__F0000.png" alt="circuit">
        <div class="title-text">Mongo Site Scraper</div>
        <a type="button" class="btn btn-success" id="get-btn" href="/scrape">Show Top FOSS Articles</a>
    </div>
    {{#each article_data}}
    <div class="container article">
        <div class="card mb-3" style="max-width: 720px;">  
            <form class="article-form">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img class="image-link" src="{{this.imageLink}}" class="card-img" alt="article">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title article-title">{{this.title}}</h5>
                            <p class="card-text article-body">{{this.body}}</p>
                            <p class="card-text article-author">{{this.author}}</p>
                            <div class="container" style="padding: 20px;">
                                <span>Note</span>
                                <input input type="text"  style="width: 70%;" required="true" class="article-note"><br>
                            </div>
                            <a href="{{this.articleLink}}" class="btn btn-primary article-link">Go to article</a>
                            <button type="submit" class="btn btn-success" style="margin-left: 10%">Save Article</button>
                            <p class="card-text"><small class="text-muted article-date">{{this.date}}</small></p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {{/each}}
</div>